body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    }
    .site-nav .link:hover, .site-nav .link:active {
        color: #4D5AE5;
    }
    .contact:hover{
        color: #4D5AE5;
    }