body{
    font-family: 'Roboto','Verdana', 'Tahoma', sans-serif;
    color: #434455;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    }
    ul{
        text-decoration: none;
    }
    .accent{
        color:#404BBF;
    }
    .site-nav{
        color: #2E2F42;
        font-weight: 700;
        text-decoration: none;
    }
    .site-nav .link:hover, .site-nav .link:active {
        color: #4D5AE5;
    }
    .contact{
        color: #2E2F42;
        font-size: 12px;
        text-decoration: none;
        letter-spacing: 0.04;

    }
    .contact .link:hover{
        color: #4D5AE5;
        
    }
    .post1{
            color: white;
            background-color: #2E2F42;
            list-style: none;
            text-align: center;
        }
    .title{
        font-size:  56px;
        font-weight: 700;
        letter-spacing: 0.02;
        line-height: 1.07;
    }
    .button{
        color: white;
        background-color: #4D5AE5;
        letter-spacing: 4px;
        line-height: 1.5;
        cursor: pointer;
    }
    .button .link:hover, .button .link:active{
        background-color: #404BBF;
    }
   .section1-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02;
    text-align: left;
   }
   .section1-text{
    list-style: none;
    text-align: left;
   }
   .post2{
    list-style: none;
    background-color: #F4F4FD;
   }
   .header2{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
 .section2-title{
    font-weight: 500;
    letter-spacing: 0.02;
    list-style: none;
 }
 .post3{
    list-style: none;
 }
.section3-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02;
    text-align: left;
}
.section3-text{
    text-align: left;
}
.footer{
    color: white;
    background-color: #2E2F42;
    text-align: left;
}