body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: white;
    font-size: 16px;
    }
    .site-nav .link:hover, .site-nav .link:active {
        color: #4D5AE5;
    }
    .contact:hover{
        color: #4D5AE5;
    }
    .post1{
        color: white;
        background-color: #2E2F42;
        text-align: center;
    }
    .title{color: white;
        
        background-color: #2E2F42;
        font-size:  56px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 60px;
    }
    .button{
        color: white;
        background-color: #4D5AE5;
        letter-spacing: 4px;

    }
   .section1-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;

   }
   .header2{
    font-weight: 700;
    font-size: 36px;
 }